body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.reasons-list {
	list-style: none;
}

.reason-item {
  text-align: center;
}

.reason-item h3,
.reason-item h4 {
  font-size: 21px;
  line-height: 21px;
}

li .first-reason {
  
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}