html{
	background-color: #f2f2f2;
}

body {
  width: 1200px;
  

  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

 
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;

  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;

}

.site-navigation a {
  color: #000000;
}

.welcome {
	width: 1200px;
	height: 773px;
	background-image:
	url("../img/welcome-min.png"),
	url("../img/polygon.svg"),
	url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: 
	center 132px, 
	center 506px, 
	center 0px;
	top: 0px;

}

/*
.welcome .rectangle {
    width: 1200px;
    height: 216px;
    background-color: #ffffff;
    padding-top: 564px;
}
*/

.visually-hidden{
	display: none;
}

.welcome-title{
	text-align: center;
	font-size: 21px;
	line-height: 26px;

	padding-top: 625px;
}

.welcome-text{
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
}


.reason-first{
  height: 256px;
  width: 400px;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #81b3d2;

  color: #ffffff;
  text-align: center;
}

.reason-first-text{
	font-weight: 300;

}

.reason-first-img{
	height: 256px;
	width: 800px;
}


.reason-second{
  height: 256px;
  width: 400px;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  
  background-color: #81b3d2;

  color: #ffffff;
  text-align: center;
}

.reason-second-text{
	font-weight: 300;

}

.reasons-list {
	width: 1200px;
	height: 330px;

	list-style: none;
	text-align: center;
	display: flex;
	background-color: #ffffff;


}

.reason-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  
}

.reason-hostel::before{
	content: " ";
	width: 75px;
	height: 72px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;

}

.reason-food::before{
	content: " ";
	width: 74px;
	height: 70px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;

}

.reason-souvenir::before{
	content: " ";
	width: 64px;
	height: 76px;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;

}

.reasons-list2{
  color: #000000;
  text-align: center;

  height: 256px;
  width: 1200px;

  display: flex;
  position: relative;
  list-style: none;


}


.reason-list2-item{
  height: 256px;
  width: 400px;
  padding-top: 50px;

  background-color: #eeeeee;

}

.reason-list2-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}

.search{
	text-align: center;
}

.search-text{
	font-weight: 300;

}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.btn-search{
  width: 568px;
  height: 86px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.info-footer{
  width: 1200px;
  height: 120px;
  opacity: 0.9;

  display: flex;

}

.info-hashtag{
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.htmlacademy{
	color: #000000;

}


