html{
	background-color: #f2f2f2;
}

body {
	width: 1200px;
  
	padding: 0;
	margin: 0 auto;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

 
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #ffffff;

	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
	text-decoration: none;
}

.site-navigation {
	list-style: none;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin: 0;

	background-color: #ffffff;
}

.site-navigation a {
	color: #000000;
}

.site-page:hover a {
	color: #81b3d2;
}

.site-page:active a {
	color: rgba(0, 0, 0, 0.3);
}

.current-page a{
	color: #766357;
}

.welcome {
	width: 1200px;
	height: 565px;
	background-image:
	url("../img/polygon.svg"),
	url("../img/bg.jpg");
	background-repeat: no-repeat;
	
	background-position: center bottom,
	center;
	position: relative;
	background-color: #f2f2f2;
}

.welcome-img{
	position: absolute;
	margin-left: 50%;
	top: 56%;
	transform: translate(-50%,-50%);
}

.visually-hidden{
	display: none;
}

.welcome-title{
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.welcome-text{
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
}

.reason-first{
	background-color: #81b3d2;

	color: #ffffff;
	text-align: center;
}

.reason-first-text{
	font-weight: 300;
}

.reason-first-img{
	height: 256px;
	width: 800px;
}


.reason-second{
	background-color: #81b3d2;

	color: #ffffff;
	text-align: center;
}

.reason-second-text{
	font-weight: 300;
}

.reasons-list {
	width: 1200px;
	height: 330px;
	margin: 0px;
	padding: 0px;

	list-style: none;
	text-align: center;
	display: flex;
	background-color: #ffffff;
}

.reason-item {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	padding-top: 100px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.reason-item h3 {
	font-size: 21px;
	line-height: 21px; 
}

.reason-hostel::before{
	content: " ";
	width: 75px;
	height: 72px;
	
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;

	position: absolute;
	top: 0;
    transform: translateX(-50%);
}

.reason-food::before{
	content: " ";
	width: 74px;
	height: 70px;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;

    position: absolute;
	top: 0;
    transform: translateX(-50%);
}

.reason-souvenir::before{
	content: " ";
	width: 64px;
	height: 76px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;

    position: absolute;
	top: 0;
    transform: translateX(-50%);
}

.reasons-list2{
	color: #000000;
	text-align: center;
	padding: 0;
	margin: 0;

	height: 256px;
	width: 1200px;

	display: flex;
	position: relative;
	list-style: none;
}

.reason-list2-item{
	height: 256px;
	width: 400px;
 
	background-color: #eeeeee;
}

.reason-list2-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}

.search{
	text-align: center;
}

.search-text{
	font-weight: 300;
}

.selection{
	background-image: url("../img/filter-background-min.jpg");
	background-color: #766357;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 300;
	color: #ffffff;
}

.selection legend{
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.selection fieldset{
	border: 0 none;
}

.find-sort{
	background-color: #ffffff;
}



.btn {
	padding: 5px;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.btn:hover{
	background-color: #604e43;
}

.btn:active{
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.btn-info:hover{
	background-color: #669ec0;
}

.btn-info:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.btn-search{
	width: 568px;
	height: 86px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 700;
  
	background-color: #766357;
}

.btn-info{
	background-color: #81b3d2;
}

.btn-reservation{
	background-color: #766357;
}

.btn-show{
	border: solid 2px #ffffff;
	border-radius: 2px;
	background-color: transparent;

	font-size: 14px;
	line-height: 21px;
	font-family:  "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
}
.btn-show:hover,
.btn-show:active{
	background-color: transparent;
}

.sorting{
	font-weight: 300;
}

.sorting-type{
	list-style: none;
}

.sorting-type-item a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

.sorting-type-item:hover a{
	color: #81b3d2;
	
}

.sorting-type-item:active a{
	color: #000000;
	border-bottom: 0px dashed rgba(0, 0, 0, 0);
}

.find{
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.dir{
	fill: #cacaca;
}

.dir:hover{
	fill: #000000;
}

.dir:active{
	fill: #81b3d2;
}

.active svg{
	fill: #81b3d2;
}

.active a{
	color: #81b3d2;
	border-bottom: 0px dashed rgba(0, 0, 0, 0);

}

.results-list{
	list-style: none;
	background-color: #f2f2f2;
	padding: 0;
	margin: 2px 0;
}

.result-item{
	margin: 2px 0;

	background-color: #ffffff;
}

.result-title a{
	color: #000000;

}

.result-title{
	margin: 0;
}

.result-title:hover a{
	color: #81b3d2;
}

.result-title:active a{
	color: rgba(0, 0, 0, 0.3); 
}

.result-text{
	font-weight: 300;
}

.rate{
	background-color: #f2f2f2;
	font-weight: 300;
	color: #666666;
	font-size: 14px;
	line-height: 21px;
}

.info-footer{
 /* width: 1200px;
  height: 120px;*/
  opacity: 0.9;

  /*display: flex;*/
}

.info-hashtag{
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.social{
	display: flex;
}
.social li{
	list-style: none;
	text-align: center;
	padding: 0;
}

.social-contact a{
	display: block;
	width: 46px;
	height: 48px;
	margin: 3px;
	position: relative;
	padding: 0;
	font-size: 0px;
	background-color: #81b3d2;
}

.twit::before{
	content: " ";
	width: 17px;
	height: 15px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-image: url("../img/tw-icon.svg");
	background-repeat: no-repeat;
	background-size: 17px 15px;
}

.facebook::before{
	content: " ";
	width: 12px;
	height: 22px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
}

.youtube::before{
	content: " ";
	width: 20px;
	height: 16px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-image: url("../img/youtube-icon.svg");
	background-repeat: no-repeat;
}

.social-contact:hover a{
	background-color: #669ec0;
}

.social-contact:active a{
	background-color: #5496bd;
}

.social-contact:active::before a{
	opacity: 0.3;
}

.htmlacademy{
	color: #000000;
}

.htmlacademy-img{
	fill: black;
}

.htmlacademy-img:hover{
	fill: #81b3d2;
}

.htmlacademy-img:active{
	fill: #bdbbbc;
}